@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body,
html {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

/* body {
   background-color: rgb(092, 105, 140)
}  */

/* header css */

#header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.updateDate {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.updateDate > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month {
    text-align: center;
    flex: 1;
    font-family: fantasy;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.gitbox {
    flex: 1;
    text-align: end;
}
/* //header css */

.day-of-the-week {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 10px solid #26c2db; ;
    font-weight: bold;
    box-shadow: 0px 10px 10px -8px #000000;
}

.day-of-the-week > div {
    flex: 1;
    text-align: center;
}

.day-of-the-week > div:not(:first-child) {
    border-left: 1px solid;
}

.day-of-the-week > div:first-child {
    color: red;
}
.day-of-the-week > div:last-child {
    color: blue;
}

/* body */

.days {
    display: grid;
    align-items: center;
    justify-items: start;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    grid-auto-rows: 120px;
}

.days > div {
    border:1px solid #9b9b9b;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}