body,
html {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

/* body {
   background-color: rgb(092, 105, 140)
}  */

/* header css */

#header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.updateDate {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.updateDate > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month {
    text-align: center;
    flex: 1;
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.gitbox {
    flex: 1;
    text-align: end;
}
/* //header css */

.days {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #05c3a7; ;
    font-weight: bold;
    box-shadow: 0px 10px 10px -8px #607d8b;
}

.days > div {
    flex: 1;
    text-align: center;
}

.days > div:not(:first-child) {
    border-left: 1px solid;
}

.days > div:first-child {
    color: red;
}
.days > div:last-child {
    color: blue;
}
